*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* LOGIN */

.login-body{
    background:#141414;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    background:#1f1f1f;
    width:400px;
    padding:40px;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.login-container h1{
    text-align:center;
    color:#e50914;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:15px;
}

.input-group label{
    display:block;
    margin-bottom:5px;
    color:white;
}

.input-group input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
}

.btn-entrar{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    background:#e50914;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.btn-entrar:hover{
    background:#b20710;
}

/* HOME */

.home-body{
    background:#141414;
    color:white;
    min-height:100vh;
}

/*NAVBAR */

.navbar{
    background:#000;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid #e50914;
}

.logo{
    color:#e50914;
    font-size:35px;
    font-weight:bold;
}

.menu{
    list-style:none;
    display:flex;
    gap:20px;
}

.menu a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.menu a:hover{
    color:#e50914;
}

/* BANNER= */

.banner{
    height:80vh;

    background-image:
    linear-gradient(to right, rgba(0,0,0,.9), rgba(0,0,0,.3)),
    url('https://wallpapercave.com/wp/wp4056410.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;

    padding:60px;
}

.banner-content{
    max-width:600px;
}

.banner-content h2{
    font-size:70px;
    margin-bottom:20px;
}

.banner-content p{
    font-size:20px;
    line-height:30px;
    margin-bottom:20px;
}

.banner-content button{
    background:#e50914;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.banner-content button:hover{
    background:#b20710;
}

/* CATÁLOGO */

.catalogo{
    padding:40px;
}

.catalogo h2{
    margin-bottom:20px;
    font-size:28px;
}

.filmes-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:20px;
}

/* CARD FILMES */

.card{
    position:relative;
    cursor:pointer;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:330px;
    object-fit:cover;
    display:block;
}

.card > h3{
    text-align:center;
    background:#1c1c1c;
    padding:10px;
}

.filme-info{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:330px;

    background:rgba(0,0,0,.92);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:20px;

    opacity:0;
    visibility:hidden;

    transition:.3s;
}

.filme-info h4{
    color:#e50914;
    margin-bottom:10px;
}

.filme-info p{
    font-size:14px;
    line-height:22px;
}

.card.ativo .filme-info{
    opacity:1;
    visibility:visible;
}

/* CRUD */

.crud-box{
    width:90%;
    margin:40px auto;
    background:#1f1f1f;
    padding:30px;
    border-radius:10px;
}

.crud-box h2{
    margin-bottom:20px;
    color:#e50914;
}

.crud-form{
    display:grid;
    gap:15px;
    margin-bottom:30px;
}

.crud-form input{
    padding:12px;
    border:none;
    border-radius:5px;
}

.buttons{
    display:flex;
    gap:10px;
}

.buttons button{
    padding:12px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#e50914;
    color:white;
}

.buttons button:hover{
    background:#b20710;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#e50914;
    color:white;
    padding:15px;
}

table td{
    background:#2b2b2b;
    padding:15px;
    text-align:center;
    border-bottom:1px solid #444;
}

table a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
}

table a:hover{
    color:#e50914;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .menu{
        flex-wrap:wrap;
        justify-content:center;
    }

    .banner{
        height:auto;
        padding:30px;
    }

    .banner-content h2{
        font-size:45px;
    }

    .banner-content p{
        font-size:16px;
    }

    .catalogo{
        padding:20px;
    }

    .card img,
    .filme-info{
        height:250px;
    }

    .crud-box{
        width:95%;
        padding:20px;
    }

    table{
        font-size:14px;
    }
}